.abilityScoreList { 
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 5px;
}

.monster {
    margin: 5px;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.section-title {
    margin-bottom: 1px;
    margin-top: 15px;
    color: #822000;
}

.descriptors {
    margin-top: 5px;
}