.abilityScoreList { 
    white-space: nowrap;
    overflow-x: auto;
}

.monster {
    margin: 5px;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.name {
    margin-bottom: 1px;
}

.descriptors {
    margin-top: 5px;
}