body {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.section-seperator {
  border-bottom: 2px solid;
  border-color: #bc0f0f
}

.descriptors {
  margin-top: 5px;
}

.reference-card  {
  margin: 5px;
  border: 2px solid rgb(87, 87, 87);
  border-radius: 5px;
  background-color: white;
  padding: 5px;
}

.App {
  width: 50%;
}